@mixin size($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin position($position:absolute, $top:auto, $right:auto, $bottom:auto, $left:auto) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

.menu_back {
  display: flex;
  justify-content: space-between;
  position: fixed;
  @include size(100%, 50px);
  background: $menu-background;
  z-index: 5;
  transform: translate3d(0, 0, 0);

  .menu-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a:hover {
    color: $menu-item-hover;
  }
}

.sub-container {
  display: flex;
  align-items: center;

  .icon {
    height: 50px;
    padding-left: 5%;
  }

  .mbut {
    font-size: 20px;
    line-height: 60px;
    font-weight: bolder;
    text-align: center;
    @include size(100px);
    margin-right: 5px;
    color: $link-color;
    &:hover {
      color: $menu-item-hover;
    }
  }

  form {
    display: contents;
    .search {
      border: 0;
      border-radius: 22px;
      @include size(30%, 30px);
      padding: 0px 0px 3px 13px;
      outline: none;
      margin-right: 15px;
      color: $link-color;
      background-color: rgba(0, 0, 0, .3);
    }
  }


  a {
    .btn {
      width: 120px;
    }
  }


  .desktop-menu-user {
    color: $secondary-color;
    margin:0 3%;
    &:hover {
      color: $menu-item-hover;
    }
  }

  #desktop-search-icon {
    color: $link-color;
    position: absolute;
    margin-left: 15px;
  }

  .login-add {
    color: #90919e;

    .fa-cogs, .fa-user {
      padding-right: 5px;
      color: #0e86ca;
    }

    &:hover {
      color: white;
      .fa-cogs{
        color:#00aeff;
      }
    }
  }

  .fa-globe-africa{
    cursor: pointer;
    color: #4285ee;
    margin-right: 5px;
  }

  .active_menu {
    margin: 0px 21px 0 20px;
    color: #90919e;
    .menu {
      display: none;
      position:absolute;
      background: #263041;
      margin: 15px 0px 0px -75px;
      @include size(204px, 100px);
      transition: 2s;
      a {
        position:relative;
        display: flex;
        justify-content: center;
        height: 50px;
        border: 0.5px groove #c6c6c7;
        text-align: center;
        vertical-align: baseline;
        padding-top: 10px;
        transition: 1s;
      }

      .blue-btn {
        @include size(160px,30px);
        background-color: $primary-color;
        border: solid 1px #00aeff;
        text-align: center;
        color: white;
        font-size: 16px;
        line-height: 1;
        padding-top: 5px;
        -webkit-transition-property: background;
        -webkit-transition-duration: 0.5s;
        &:hover {
          background: #00aeff;
        }
      }
    }

    input:checked + .menu {
      transition: 1s;
      opacity:1;
      display: block;
    }
    &:hover { color: white; }
  }

  .desktop-lang-preferences {
    @extend %clickable-item;
    margin:0 3%;
    background: 0;
    color: #90919e;
    .fa-angle-down {
      cursor: pointer;
      margin-left: 8px;
      font-size: 15px;
      color: #90919e;
    }

    @include size(130px);
    &:hover {
      color: white;
      border-color: #0e86ca;
      .fa-globe-africa{
        color:#00aeff;
      }
      .fa-angle-down {
        color: white;
      }
    }
    &:after {
      border-color: #4285f4;
    }
  }

  .desktop-lang-preferences-submenu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    @include position($top: 52px, $right: 246px);
    @include size(120px);
    background-color: $submenu-background;
    color: $link-color;
    border: 0.5px groove #c6c6c7;
    .flag {
      width: 20px;
      margin: 0 6px 0 10px;
    }

    .lang {
      cursor: pointer;
    }
  }

  .submenu-item {
    @include size(100%, 100%);
    z-index: 2;
    padding: 5px 0;
    text-align: left;
    transition: 1s;
    &:hover {
      color: white;
      cursor: pointer;
    }
    border: 0.5px groove #c6c6c7;
  }
}

.menu-btn {
  display: none;
  @include size(50px,50px);
  span {
    &:before, &:after {
      content: '';
      display: block;
      transition: 0.2s;
    }
    &:before { transform: translateY(-5px); }
    &:after { transform: translateY(5px); }
  }

  span,
  span::before,
  span::after {
    @include position($top: 50%, $left: 90%);
    margin: -1px 0 0 -18px;
    @include size(20px, 2px);
    background-color: azure;
  }
}


.menu-btn_active span {
  height: 0;

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

nav {
  display: none;
  z-index: 1;
  @include size(100%, 100vh);
  transform: translateX(130%);
  background-color: $mobile-menu-background;
  padding-top: 15%;
  position: fixed;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;

  .nav-container {
    @extend %flex-centered-column;
    @include size(88vw);
    margin-top: 25px;
    text-align: center;
  }

  .nav-but {
    color: $link-color;
    border: 1px solid $link-color;
    padding: 10px;
    background-color: $mobile-menu-btn-background;
  }

  .nav-user {
    @include position(relative, $top: 50%);
    color: $link-color;
    font-size: 18px;
  }

  #nav-search-input {
    @include position($bottom: 71px);
    background-color: rgba(248, 245, 245, 0.3);
    border: 0;
    border-radius: 22px;
    padding: 5px;
  }

  #nav-search-icon {
    @include position($bottom: 80px, $left: 25%);
    color: $link-color;
  }

  .nav-lang-preferences {
    @extend %flex-centered-column;
    @include position($top: 170px);
    background-color: $secondary-color;
    color: $link-color;
    border-radius: 7%;

    .nav-lang-preferences-title {
      @include size(54vw);
      background-color: $menu-background;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 6% 5% 0%;
      text-align: center;
    }

    .nav-lang-preferences-inputs {
      padding: 5% 7%;
    }
  }

}

.nav-lang-preferences-inputs input {
  @include size(19px, 19px);
  @include position(relative, $top: 1vw);
  box-sizing: border-box;
  padding: 0;
}

.nav-sign-up {
  @include position(relative, $top: 265px);
  @include size(120px);
  color: $link-color;
  border: 1px solid azure;
  border-radius: 20px;
  padding: 6px;
  text-align: center;
}

.fa-lock {
  font-size:  12px;
  margin-right: 8px;
}



