.sign-in {
  height: 70vh;

  .sign-in-container {
    padding-top: 120px;
    padding-bottom: 3%;
  }

  .btn {
    margin: 0;
  }

  form {
    margin-bottom: 2%;
  }

  label {
    color: $secondary-color;
  }

}

