$primary-color: #4285f4;
$secondary-color: #6c757d;
$link-color: #90919e;
$menu-background: rgba(25, 30, 58, 0.7);
$menu-item-hover: azure;
$submenu-background: #263041;
$submenu-item-hover: #90919e;
$mobile-menu-background: rgba(0, 0, 0, .9);
$mobile-menu-btn-background: transparent;
$content-background: #011c4b;
$footer-background: #212121;
// Цвета игровых карточек завязаны на классах bg-dark и text-white.
//
// Чтобы модифицировать их, нужно удалить эти клаЦвет кнопки Log in завязан на классе btn-primaryссы и написать свои стили

// Здесь прикрепить ссылку на цветовую палитру из colorscheme.ru
// Пример: https://colorscheme.ru/#3Od1DK-hWpBpB

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: none;
  }
}


// template classes

%flex-centered-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-centered-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%clickable-item {
  color: azure;
  cursor: pointer;
}

@import 'header';

@import 'home';

@import 'footer';


@media screen and (max-width: 550px) {
    .menu-btn {
      display: block;
    }

    nav {
      display: flex;
    }

    .nav-active {
      transform: translateX(0%);
    }

    .desktop-lang-preferences,
    .mbut,
    .desktop-menu-user,
    #menu-sign-up,
    #desktop-search-input,
    #desktop-search-icon{
      display: none;
    }
  }