<!DOCTYPE html>
<html lang="en">
<head>
    <title>Digitames</title>
    <link rel="icon" href="/img/icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/base.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/menu.js" defer></script>
    <script src="/js/cookie.js" defer></script>
</head>
<body>
<div class="menu_back" id="container">
    <div class="container">
        <div class="row menu-container">
            <div class="sub-container">
                <a href="/">
                    <img class="icon logo-icon" src="../img/icon.png">
                </a>
                <a href="/blog/">
                    <div class="mbut">{%trans 'News' %}</div>
                </a>
            </div>
            <div class="sub-container">
                <form action="/search/" method="POST">
                    <input class="search" id="desktop-search-input" name="search" type="search">
                </form>
                <i id="desktop-search-icon" class="far fa-search"></i>
                {% if user.region is null %}
                <a href="/login/" class="desktop-menu-user">
                    {% trans 'My account' %}
                </a>
                {% else %}
                <div class="delete-label">
                    <label class='active_menu' style='cursor: pointer'>
                        <input id='checkbox' type='checkbox' style='display: none'>
                        {% trans 'My account' %}
                        <div class="menu">
                            <a href="/profile/">
                                <div class="login-add">
                                    <i class="fas fa-cogs"></i>
                                    {% trans 'Profile' %}
                                </div>
                            </a>
                            <a href="/logout/">
                                <div class="blue-btn">{% trans 'Logout' %}</div>
                            </a>
                        </div>
                    </label>
                </div>
                {% endif %}
                <div class="desktop-menu lang-preferences">
                    <span>
                        <i class="fas fa-globe-africa"></i>
                        {% if locale == 'ru_RU' %}
                            <span class="lang">Русский</span>
                        {% else %}
                            <span class="lang">English</span>
                        {% endif %}
                        <i class="fas fa-angle-down"></i>
                    </span>
                    <div class="lang-preferences-submenu">
                        <div class="submenu-item lang_ru">
                            <img src="../img/icon_russia.png" class="flag">
                            <span class="lang">Русский</span>
                        </div>
                        <div class="submenu-item lang_en">
                            <img src="../img/icon_usa.png" class="flag">
                            <span class="lang">English</span>
                        </div>
                    </div>
                </div>
                <a href="" class="menu-btn">
                    <span></span>
                </a>
            </div>
        </div>

    </div>
</div>
<nav id="navbar">
    <div class="navbar-item">
        <i class="far fa-search"></i>
        <form action="/search/" method="get">
            <input class="search" id="nav-search-input" name="search" type="search">
        </form>
    </div>
    <a class="navbar-item" href="/blog/">
        <div class="nav-btn">{%trans 'News' %}</div>
    </a>
    <a class="navbar-item" href="#games">
        <div class="nav-btn">{%trans 'Games' %}</div>
    </a>
    {% if user.region is null %}
    <a class="navbar-item" href="/login/">
        <div class="nav-btn">{% trans 'My account' %}</div>
    </a>
    {% else %}
    <div class="navbar-item nav-user">
        <i class="fas fa-user mr-1"></i>
        <a href="/profile/">{{ user.nickname }}</a>
    </div>
    {% endif %}
    <div class="lang-preferences">
            <span>
                <i class="fas fa-globe-africa"></i>
                {% if locale == 'ru_RU' %}
                    <span class="lang">Русский</span>
                {% else %}
                    <span class="lang">English</span>
                {% endif %}
                <i class="fas fa-angle-down"></i>
            </span>
        <div class="lang-preferences-submenu">
            <div class="submenu-item lang_ru">
                <img src="../img/icon_russia.png" class="flag">
                <span class="lang">Русский</span>
            </div>
            <div class="submenu-item lang_en">
                <img src="../img/icon_usa.png" class="flag">
                <span class="lang">English</span>
            </div>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<div class="cookie-message" id="cookie-message">
    <div class="align-right" id="closing">
        <button class="cookie-close-btn">X</button>
    </div>
    <div class="cookie-message-text">
        Сайт использует cookies. Оставаясь на сайте, вы соглашаетесь с <a href="/cookies_rules/">политикой использования
        файлов cookie.</a>
    </div>
    <div class="align-center">
        <button type="button" id="accept" class="btn btn-primary">Принять и закрыть</button>
    </div>
</div>
<footer class="page-footer font-small darken-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text ml-3 mr-3 fa-2x"> </i>
                    </a>
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text ml-3 mr-3 fa-2x"> </i>
                    </a>
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text ml-3 mr-3 fa-2x"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        {{ q|date("Y") }} Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/">Digitames.com</a>
    </div>
</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>
</html>
