{% if featured %}
<div id="myCarousel" class="h-100 carousel slide" data-ride="carousel">
    {% if feature_num_rows > 1 %}
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        {% if feature_num_rows != 0 %}
        {% for feature, value in range(0, feature_num_rows) %}
        <li data-target="#myCarousel" data-slide-to={{ featured_num_rows }}></li>
        {% endfor %}
        {% endif %}
    </ol>
    {% endif %}
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href=game_page/{{featured[0]['proj_url']}}>
            <a class="info" name="game_page" href="game_page/{{featured[0]['proj_url']}}">
                <img class="d-block w-100" src={{ featured[0]['proj_img'] }} alt = {{ featured[0]['proj_name'] }}>
            </a>
            <!--<div class="carousel-caption d-none d-md-block">-->
                <!--<h3> {{ featured[0]['proj_name'] }}</h3>-->
                <!--<p> {{ featured[0]['proj_desc'] }} </p>-->
            <!--</div>-->
        </div>
        {% if feature_num_rows > 1 %}
        {% for feature, value in featured %}
        <div class="carousel-item">
            <a class="info" name="game_page" href=game_page/{{ value['proj_url'] }}>
            <img class="d-block w-100" src={{ value['proj_img'] }} alt={{ value['proj_name'] }}></a>
            <div class="carousel-caption d-none d-md-block">
                <h3>{{ value['proj_name'] }}</h3>
                <p> {{ value['proj_desc'] }} </p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% if feature_num_rows > 1 %}
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    {% endif %}
</div>
{% endif %}