{% extends 'base.html' %}

{% block content %}
    <div class = "about_cookies full-bg">
        <div class = "head_cookies">Подробнее об использованиии файлов cookie на сайте</div>
        <div class = "text_cookies">
            <ul>
                <li>
                    Cookie — это небольшие текстовые файлы, которые отправляются на ваш компьютер, когда вы посещаете веб-сайт.
                </li>
                <li>
                    Файлы cookie на веб-сайтах выполняют много различных функций, например, позволяют вам быстро и рационально
                    перемещаться между страницами, сохраняют ваши предпочтения и в целом делают использование вами веб-сайта более комфортным.
                </li>
                <li>
                    В соответствии с применимым законодательством Российской Федерации, мы можем сохранять файлы cookie на вашем компьютере,
                    если они необходимы для работы этого сайта. При этом сохранение других файлов cookie требует вашего разрешения.
                </li>
                <li>
                    На сайте могут использоваться некоторые файлы cookie, от которых не зависит работа сайта.
                </li>
                <li>
                    Мы делаем это не для того, чтобы отслеживать действия отдельных пользователей или идентифицировать их,
                    а с целью получить полезные сведения о том, как используют сайт. Это поможет нам совершенствовать сайт
                    для пользователей.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}