{% extends 'base.html' %}

{% block content %}
<div class="login h-100">
    <div class="container text-white">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 rt-col">
                <form method="POST" action="/forget_password/">
                    <h3 class="text-center">{% trans 'Sign in with your account'%}</h3>
                    <div class="alert alert-danger">{{error}}</div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="email">{% trans 'Email'%}</p></label>
                            <input type="email" class="form-control" id="email" placeholder="{% trans 'Email' %}" name="email"
                                   required>
                            <input type="hidden" name="type" value="basic">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="submit" class="btn btn-primary " value="{% trans 'Восстановить' %}" id="reg_btn"
                                   name="login">
                        </div>
                    </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        </div>
</div>
{% endblock %}