{% extends 'base.html' %}

{% block content %}
<div class="content ">
    {% include 'carousel.html' %}
    <div class="container-fluid main">
        <br>
        <div class="container text-center home-page">
            {% for card in tableview %}
            <div class="card new-bg">
                <div class="view overlay zoom">
                    <img class="card-img-top" src="{{ card['proj_img'] }}">
                    <a class="info" name="game_page" href=game_page/{{ card['proj_url'] }}>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body rounded-bottom project-platforms">
                    <a class="activator waves-effect mr-4"><i class="fab fa-windows fa-sm new-text"></i></a>
                    <a class="activator waves-effect mr-4"><i class="fab fa-apple fa-sm new-text"></i></a>
                    <a class="activator waves-effect mr-4"><i class="fab fa-linux fa-sm new-text"></i></a>
                </div>
            </div>
            {% endfor %}
            <br>
        </div>
    </div>
</div>
{% endblock %}