{% extends 'base.html' %}

{% block content %}
<div class="login h-100">
    <div class="container text-white">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 rt-col">
                <form method="POST" action="/login/">
                    <h3 class="text-center">{% trans 'Sign in with your account'%}</h3>
                    <div class="alert alert-error">{{error}}</div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="email">{% trans 'Email'%}</p></label>
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                                   required>
                            <input type="hidden" name="type" value="basic">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="password">{% trans 'Password'%}</p></label>
                            <input type="password" class="form-control" id="password" placeholder="Password"
                                   name="password" required>
                        </div>
                    </div>
                    <div class="checkform form-group">
                        <input type="checkbox" id="check1" name="save_data" value="YES">
                        <label class="checklabel" for="check1">{% trans 'Remember me' %}</label>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="submit" class="btn btn-primary " value="{% trans 'Sign in' %}" id="reg_btn"
                                   name="login">
                        </div>

                    </div>
                    <a href="#" class="forgot_password" class="text-white">
                        {% trans 'Forgot your password?'%}
                    </a>
                </form>
            </div>
            <div class="col-sm-3"></div>

        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="signup-input col-sm-6">
                <a href="/signup/">
                    <button class="btn btn-outline-primary" id="sup">{% trans 'Create account' %}</button>
                </a>
            </div>
            <div class="col-sm-3"></div>

        </div>
    </div>
</div>
{% endblock %}