{% extends 'base.html' %}

{% block content %}
<div class="sign main">
    <div class="container text-white">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <form method="POST" action="/signup/">
                    <h4>{% trans 'Sign up' %}</h4>
                    {% if error %}
                    <div class="alert alert-error">{{error}}</div>
                    {% endif %}
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputEmail4">{% trans 'Email' %}</label>
                            <input type="email" class="form-control" id="new_email" placeholder="Email" name="new_email" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputPassword4">{% trans 'Password' %}</label>
                            <input type="password" class="form-control" id="new_password" placeholder={% trans 'Password' %} name="new_password" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputAddress">{% trans 'Select your age' %}</label>
                            <select class="custom-select" id="age" name="age" required>
                                <option selected disabled value=''>{% trans 'Select your age' %}</option>
                                <option value="3">3-6</option>
                                <option value="7">7-11</option>
                                <option value="12">12-15</option>
                                <option value="16">16-17</option>
                                <option value="18">18+</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputAddress">{% trans 'Select your region' %}</label>
                            <select class="custom-select" id="region" name="region" required>
                                <option selected disabled value=''>{% trans 'Select your region' %}</option>
                                <option value="af">{% trans 'Africa' %}</option>
                                <option value="as">{% trans 'Asia' %}</option>
                                <option value="eu">{% trans 'Europe' %}</option>
                                <option value="na">{% trans 'North America' %}</option>
                                <option value="sa">{% trans 'South America' %}</option>
                                <option value="au">{% trans 'Oceanic' %}</option>
                            </select>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary " value={% trans 'Create account' %} id="reg_btn" name="register">
                    <br><br>
                </form>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4 rt-col">
                <div class="signup_bot">
                    <a href="/login/">
                        <button class="btn btn-primary">{% trans 'Already have account?' %}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}