{% extends 'base.html' %}

{% block content %}
<div class="sign-in full-bg">
    <div class="container sign-in-container text-white">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 rt-col">
                <form method="POST" action="/login/">
                    <h5>{% trans 'Sign in' %}</h5>
                    {% if error %}
                    <div class="alert alert-danger">{{error}}</div>
                    {% endif %}
                    {% if success %}
                    <div class="alert alert-success" role="alert">{{success}}</div>
                    {% endif %}
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="email" class="form-control" id="email" placeholder="{% trans 'Email' %}" name="email"
                                   required>
                            <input type="hidden" name="type" value="basic">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="password" class="form-control" id="password" placeholder="{% trans 'Password' %}"
                                   name="password" required>
                        </div>
                    </div>
                    <div class="checkform form-group">
                        <input type="checkbox" id="check1" name="save_data" value="YES">
                        <label class="checklabel" for="check1">{% trans 'Remember me' %}</label>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="submit" class="btn btn-primary " value="{% trans 'Sign in' %}" id="reg_btn"
                                   name="login">
                        </div>

                    </div>
                    <a href="/forget_password/" class="forgot_password" class="text-white">
                        {% trans 'Forgot your password?'%}
                    </a>
                </form>
            </div>
            <div class="col-sm-3"></div>

        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="signup-input col-sm-6">
                <a href="/signup/">
                    <button class="btn btn-outline-primary" id="sup">{% trans 'Create account' %}</button>
                </a>
            </div>
            <div class="col-sm-3"></div>

        </div>
    </div>
</div>
{% endblock %}